<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.okellosoftwarez.bluecollar">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BlueCollar">

        <activity android:name=".viewScreen.MechanicDetails"
            android:parentActivityName=".viewScreen.Driver"></activity>
        <activity android:name=".Registration.signIn"
            android:label="Verification"
            android:parentActivityName=".bridge.FirstScreen"/>
        <activity android:name=".Registration.signUp"
            android:label="Registration"
            android:parentActivityName=".bridge.FirstScreen">

        </activity>
        <activity android:name=".bridge.FirstScreen"
            android:theme="@style/AppTheme.NoActionBar">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->
<!---->
<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>
        <activity android:name=".viewScreen.Profile"
            android:parentActivityName=".Registration.Mechanic"/>
        <activity android:name=".Retry"
            android:label="Connectivity"/>
        <activity android:name=".viewScreen.Driver"
            android:parentActivityName=".bridge.MainActivity"/>
        <activity android:name=".Registration.Mechanic"
            android:parentActivityName=".bridge.MainActivity"/>
        <activity android:name=".bridge.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".Splash"
            android:theme="@style/AppTheme.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>